<!-- home.component.html -->
<app-navbar></app-navbar>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="container-fluid p-0">
    <!-- Hero Section -->
    <header class="text-center justify-content-center align-content-center header-bg">
      <h1 class="display-4">Bienvenido a tu Gestión de Tareas</h1>
      <p class="lead">Organiza y mantén un seguimiento de tus tareas de manera sencilla y efectiva</p>
    </header>
  
    <!-- Características -->
    <section class="container-fluid text-center py-5 bg-gradient" style="background-color: #54473F;">
      <h2 class="display-5 text-white pb-3">Características</h2>
      <div class="row">
        <div class="col-md-4 mb-4"> <!-- Característica 1 -->
          <div class="card shadow h-100 border-0 rounded-3 py-3 cardCaracteristica">
            <div class="card-body">
              <i class="fas fa-check-circle fa-2x mb-3 text-success"></i> <!-- Ícono -->
              <h3 class="card-title">Fácil de Usar</h3>
              <p class="card-text">Una interfaz simple y clara para agregar, eliminar y completar tus tareas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4"> <!-- Característica 2 -->
          <div class="card shadow h-100 border-0 rounded-3 py-3 cardCaracteristica">
            <div class="card-body">
              <i class="fas fa-cogs fa-2x mb-3 text-dark"></i> <!-- Ícono -->
              <h3 class="card-title">Control Total</h3>
              <p class="card-text">Filtro de tareas pendientes y completadas, para un control completo de tu productividad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4"> <!-- Característica 3 -->
          <div class="card shadow h-100 border-0 rounded-3 py-3 cardCaracteristica">
            <div class="card-body">
              <i class="fas fa-globe fa-2x mb-3 text-secondary"></i> <!-- Ícono -->
              <h3 class="card-title">Accesible en Cualquier Momento</h3>
              <p class="card-text">Accede a tus tareas desde cualquier lugar y en cualquier momento, ¡sin necesidad de estar conectado siempre!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
    <!-- Acerca de -->
    <section class="container-fluid align-content-center text-center py-5 acercaDe-bg">
      <h2>Acerca de</h2>
      <p>Este proyecto fue creado para ayudar a gestionar tus tareas de manera eficiente. Es fácil de usar y está diseñado para maximizar tu productividad.</p>
    </section>
  
    <!-- Contacto -->
    <section class="container-fluid text-center py-3 cardCaracteristica">
      <i class="fas fa-envelope fa-2x mb-3"></i>
      <h2>Contacto</h2>
      <p>Si tienes alguna pregunta o sugerencia, no dudes en <a href="mailto:contacto@gestiontareas.com">contactarnos</a>.</p>
    </section>
  
    <!-- Footer -->
    <footer class="bg-gradient align-content-center text-white px-3 py-3" style="background-color: #AB886D">
      <p>&copy; 2024 Gestión de Tareas. Todos los derechos reservados.</p>
    </footer>
  </div>
  